<section>
    <h3>Detailed information</h3>
    <table>
        <tr>
            <td>name:</td>
            <td>{{userDetails.name}}</td>
        </tr>
        <tr>
            <td>login:</td>
            <td>{{userDetails.login}}</td>
        </tr>
        <tr>
            <td>type:</td>
            <td>{{userDetails.type}}</td>
        </tr>
        <tr>
            <td>company:</td>
            <td>{{userDetails.company}}</td>
        </tr>
        <tr>
            <td>bio:</td>
            <td>{{userDetails.bio}}</td>
        </tr>
        <tr>
            <td>site admin:</td>
            <td>{{userDetails.site_admin}}</td>
        </tr>
        <tr>
            <td>blog:</td>
            <td>{{userDetails.blog}}</td>
        </tr>
        <tr>
            <td>public repos:</td>
            <td>{{userDetails.public_repos}}</td>
        </tr>
        <tr>
            <td>public gists:</td>
            <td>{{userDetails.public_gists}}</td>
        </tr>
        <tr>
            <td>followers:</td>
            <td>{{userDetails.followers}}</td>
        </tr>
        <tr>
            <td>following:</td>
            <td>{{userDetails.following}}</td>
        </tr>
    </table>
</section>